@use "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "@ng-select/ng-select/themes/default.theme.css";




body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

:root {
  --primary-orange-color: #f50;
  --soundcloud-color: #ff5500;
}


.radio-group {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.custom-radio {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 16px;
  position: relative;
}

/* Làm input radio trong suốt nhưng vẫn hoạt động */
.custom-radio input {
  opacity: 0;
  position: absolute;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

/* Hộp radio custom */
.radio-box {
  width: 18px;
  height: 18px;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

/* Hiển thị dấu chấm đen khi chọn */
.radio-box::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  transform: scale(0);
  transition: all 0.3s ease;
}

/* Khi radio được chọn */
.custom-radio input:checked + .radio-box::after {
  transform: scale(1);
}

.ng-select-container {
  border: none !important;
  outline: none !important;
  border-bottom: 1px solid #d9d9d9 !important;
  border-radius: 0 !important;
  transition: border-bottom 0.3s ease-in-out;
}

.ng-select-container:hover,
.ng-select-container:focus-within {
  border-bottom: 1px solid black !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.custom-dialog-container .mat-mdc-dialog-surface {
  padding: 24px !important;

}

::ng-deep .mat-menu-panel {
  background: #1f2937;
  color: red;
}

// Custom Snackbar Styles
.custom-snackbar {
  background: #3f51b5;
  color: white;

  .mat-simple-snackbar-action {
    color: white;
  }
}

.info-snackbar {
  background: #2196f3;
  color: white;

  .mat-simple-snackbar-action {
    color: white;
  }
}

