<!--begin::Title-->
<h1 class="font-bold text-5xl text-gray-900 mb-4">
    Oops!
  </h1>
  <!--end::Title-->
  
  <!--begin::Text-->
  <div class="font-semibold text-base text-gray-500 mb-7">
    We can't find that page.
  </div>
  <!--end::Text-->
  
  <!--begin::Illustration-->
  <div class="mb-3">
    <img src="./assets/auth/404-error.png" class="max-w-full max-h-[300px] block dark:hidden" alt="" />
    <img src="./assets/auth/404-error-dark.png" class="max-w-full max-h-[300px] hidden dark:block" alt="" />
  </div>
  <!--end::Illustration-->
  
  <!--begin::Link-->
  <div class="mb-0">
    <a class="btn btn-sm btn-primary px-4 py-2 text-white bg-blue-600 hover:bg-blue-700 rounded-md text-sm">
      Return Home
    </a>
  </div>
  <!--end::Link-->
  