.hover{
    z-index: 1;
    position: absolute;
    width: 100%;
    padding: 0 15px;
    top: 25%;
    
}

.play-button{
    background-color: var(--primary-orange-color);
    padding: 7px; 
    border-radius: 50%;
}