<div class="mx-auto">
  <div class="flex flex-row justify-between items-center py-[10px]" filter>
    <h2 class="text-[18px] font-[100] text-[#999;]">
      Hear the tracks you’ve played:
    </h2>
    <div class="flex flex-row justify-between items-center gap-[20px]">
      <input
        type="text"
        class="filter"
        style="line-height: 1.6"
        placeholder="Filter"
        [(ngModel)]="searchQuery"
      />
    </div>
  </div>
  <div class="flex gap-4 overflow-x-auto">
    @for (track of filteredTracks; track track.id) {
    <app-track-card
      [isLiked]="track.isLiked || false"
      [track]="track"
      class="flex-grow"
    ></app-track-card>
    } @for (_ of placeholders; track $index) {
    <app-track-card class="flex-grow"></app-track-card>
    }
  </div>
</div>
<!-- sm: - Khi màn hình có chiều rộng từ 640px trở lên.

md: - Khi màn hình có chiều rộng từ 768px trở lên.

lg: - Khi màn hình có chiều rộng từ 1024px trở lên.

xl: - Khi màn hình có chiều rộng từ 1280px trở lên.

2xl: - Khi màn hình có chiều rộng từ 1536px trở lên. -->
