<div class="mx-auto">
  <div class="flex flex-row justify-between items-center py-[10px]">
    <h2 class="text-[18px] font-[100] text-[#999]">
      Hear your own playlists and the playlists you’ve liked:
    </h2>
    <div class="flex flex-row justify-between items-center gap-[20px]">
      <input
        type="text"
        class="filter"
        placeholder="Filter"
        style="line-height: 26px"
        [(ngModel)]="searchText"
        (ngModelChange)="filterPlaylists()"
      />
      <ng-select
        class="w-[135px] text-[var(--soundcould-color)]"
        [items]="options"
        [(ngModel)]="selectedOption"
        (change)="onOptionChange()"
        [clearable]="false"
      >
      </ng-select>
    </div>
  </div>

  <div class="flex gap-4 flex-wrap">
    <app-related-track
      class="mb-7 flex-grow"
      *ngFor="let playlist of playlists"
      [relatedTrackInput]="playlist"
      (unlikeEvent)="unlike($event)"
    ></app-related-track>
    @for (_ of placeholders; track $index) {
    <app-track-card class="flex-grow"></app-track-card>
    }
  </div>
</div>
