<div class="flex pb-10">
  <div class="pe-5">
    <h2 class="pt-5 pb-2 text-2xl font-bold">Recently Played</h2>
    <app-recently-played></app-recently-played>
    <h2 class="pt-5 pb-2 text-2xl font-bold">More of what you like</h2>
    <app-recommended-playlist></app-recommended-playlist>
    <h2 class="pt-5 pb-2 text-2xl font-bold">Artists you should know</h2>
    <app-artists></app-artists>
    <h2 class="pt-5 pb-2 text-2xl font-bold">Mix for you</h2>
    <app-mixed-for></app-mixed-for>
  </div>
  <div class="w-100 sticky top-[50px] h-full" style="min-width: 300px">
    <app-side-bar></app-side-bar>
  </div>
</div>
