<div
  #container
  (click)="onPlay()"
  [ngClass]="{
    'bg-[#f2f2f2]': isPlaying
  }"
  class="px-4 container hover:bg-[#f2f2f2] flex items-center justify-between w-[480px] group cursor-pointer"
>
  <div class="flex items-center gap-2">
    <div class="relative">
      <img
        class="w-[32px] h-[32px] object-cover"
        [src]="track.coverImageName ? `${coverUrl}/${track.coverImageName}` : '/assets/images/music-placeholder.png'"
        alt=""
      />
      <div
        class="hover:bg-[#ff3300] absolute top-1/2 transform -translate-y-1/2 left-1/2 -translate-x-1/2 w-[24px] h-[24px] rounded-full bg-[var(--primary-orange-color)] flex items-center justify-center"
      >
        <i
          class="text-white fa-solid"
          [ngClass]="{
            'fa-play': !isPlaying,
            'fa-pause': isPlaying
          }"
        ></i>
      </div>
    </div>
    <div class="flex flex-col justify-center">
      <span class="text-[12px] text-[#999999]">{{ track.displayName }}</span>
      <span class="text-[12px] text-[#333333]">{{ track.title }}</span>
    </div>
  </div>
  <div class="action">
    @if (isPlaying) {
    <div class="flex gap-2 items-center">
      <i
        [ngClass]="{ 'text-red-500': track.isLiked }"
        class="text-[12px] fa-solid fa-heart"
        (click)="toggleLike($event)"
      ></i>
      <span><i class="fa-solid fa-ellipsis"></i></span>
    </div>
    } @else {
    <span class="duration text-[12px] text-[#999999]">{{
      track.duration
    }}</span>
    <div class="hidden gap-2 interact">
      <span (click)="onDelete($event)"><i class="fa-solid fa-xmark"></i></span>
      <span (click)="showComingSoon($event)"
        ><i class="fa-solid fa-ellipsis"></i
      ></span>
    </div>
    }
  </div>
</div>
