.play-button{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-orange-color);
    padding: 12px; 
    border-radius: 50%;
    transition: opacity 0.3s ease, background-color 0.3s ease;
}
.play-button:hover {
    background-color: #ff3300;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    display: flex;
    padding-right: 20px;
    padding-bottom: 25px;
    padding-top: 5px;
    justify-content: flex-end;
    gap: 10px;
    background: linear-gradient(to top, rgba(76, 76, 76, 0.7), rgba(103, 103, 103, 0.2));

}

.soundcloud-color{
    fill: var(--soundcloud-color);
    color: var(--soundcloud-color);
}
.white-color{
    fill: white;
    color: white;
}