<div
  class="fixed inset-0 bg-black/50 flex items-center justify-center z-50"
  (click)="clickOutside($event)"
>
  <div
    class="bg-white rounded-lg p-6 w-[600px] max-h-[90vh] overflow-y-auto"
    (click)="$event.stopPropagation()"
  >
    <app-dynamic-form
      [disabled]="disabled"
      (submit)="onSubmit($event)"
      [formFields]="[
        {
          columnSpan: 2,
          name: 'title',
          label: 'Track Title',
          type: 'text',
          placeholder: 'Enter track title',
          options: {
            defaultValue: trackCreation.title
          },
          validators: [Validators.required],
        },
        {
          columnSpan: 2,
          name: 'genre',
          label: 'Genre',
          type: 'select',
          placeholder: 'Select a genre',
          dataSelect: genreList,
          options: {
            defaultValue: trackCreation.genreId
          }
        },
        {
          columnSpan: 2,
          name: 'tags',
          label: 'Tags',
          type: 'multi-select',
          placeholder: 'Select tags',
          dataSelect: tagList,
          options: {
            defaultValue: trackCreation.tagIds
          }
        },
        {
          columnSpan: 2,
          name: 'description',
          label: 'Description',
          type: 'textarea',
          placeholder: 'Enter description',
          options: {
            defaultValue: trackCreation.description
          }
        }
      ]"
    ></app-dynamic-form>
  </div>
</div>
