<div *ngIf="profile" class="flex items-center justify-center">
  <div class="flex flex-col items-center space-y-3">
    <!-- Avatar -->
    <div
      class="w-[120px] h-[120px] rounded-full bg-green-700 flex items-center justify-center text-white text-5xl font-semibold"
    >
      <img
        class="w-full h-full rounded-full object-cover"
        *ngIf="profile.avatar; else defaultAvatar"
        src="{{ avatarUrl }}"
        alt=""
        srcset=""
      />
      <ng-template #defaultAvatar>
        {{ profile.displayName[0] }}
      </ng-template>
    </div>

    <!-- Name -->
    <a
      [routerLink]="['/profile', profile.userId]"
      class="text-lg font-medium text-gray-800 text-center"
    >
      {{ profile.displayName }}
    </a>

    <!-- Stats -->
    <div class="flex items-center space-x-4 text-sm text-gray-600">
      <div class="flex items-center space-x-1">
        <i class="fas fa-users"></i>
        <span>{{ profile.followerCount }}</span>
      </div>
      <div class="flex items-center space-x-1">
        <i class="fas fa-wave-square"></i>
        <span>{{ profile.followingCount }}</span>
      </div>
    </div>

    <!-- Follow Button -->
    <div *ngIf="loggedUserId != profile.userId">
      <button
        (click)="onFollow()"
        *ngIf="!isFollow; else noFollow"
        class="bg-orange-500 hover:bg-orange-600 text-white font-medium px-4 py-1 rounded flex items-center space-x-1"
      >
        <i class="fas fa-user-plus"></i>
        <span>Follow</span>
      </button>

      <ng-template #noFollow>
        <button
          (click)="onUnfollow()"
          class="bg-gray-300 hover:bg-gray-400 text-black font-medium px-4 py-1 rounded flex items-center space-x-1"
        >
          <i class="fas fa-user-minus"></i>
          <span>Unfollow</span>
        </button>
      </ng-template>
    </div>
  </div>
</div>
