<div class="flex gap-2 mb-4">
  <button
    class="px-4 py-2 rounded border"
    [class.bg-zinc-700]="selectedType === 'play'"
    [class.text-white]="selectedType === 'play'"
    (click)="selectType('play')"
  >
    Play
  </button>

  <button
    class="px-4 py-2 rounded border"
    [class.bg-zinc-700]="selectedType === 'like'"
    [class.text-white]="selectedType === 'like'"
    (click)="selectType('like')"
  >
    Like
  </button>

  <button
    class="px-4 py-2 rounded border"
    [class.bg-zinc-700]="selectedType === 'comment'"
    [class.text-white]="selectedType === 'comment'"
    (click)="selectType('comment')"
  >
    Comment
  </button>
</div>

<ng-select
  [(ngModel)]="selectedRange"
  (change)="onRangeChange()"
  [items]="rangeOptions"
  bindLabel="label"
  bindValue="value"
  placeholder="Chọn khoảng thời gian"
  class="w-full border rounded"
>
</ng-select>

<div *ngIf="selectedRange === 'custom'" class="flex gap-2 mt-2">
  <div class="flex flex-col">
    <label for="fromDate">From date</label>
    <input
      id="fromDate"
      type="date"
      [(ngModel)]="customFromDate"
      class="border p-2 rounded"
      placeholder="Select start date"
      title="Start date"
    />
  </div>
  <div class="flex flex-col">
    <label for="toDate">To date</label>
    <input
      id="toDate"
      type="date"
      [(ngModel)]="customToDate"
      class="border p-2 rounded"
      placeholder="Select end date"
      title="End date"
    />
  </div>
  <button
    (click)="onCustomRangeApply()"
    class="bg-zinc-700 text-white px-4 py-2 rounded mt-auto"
  >
    Apply
  </button>
</div>

<div class="w-full h-[500px] mt-6">
  <ngx-charts-bar-vertical
    [results]="data"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="true"
    [scheme]="colorScheme"
    [dataLabelFormatting]="dataLabelFormatter"
  >
  </ngx-charts-bar-vertical>
</div>

<div class="grid grid-cols-2 gap-4">
  <div class="bg-white shadow-sm p-4 max-h-[500px] overflow-y-auto">
    <div class="text-lg font-medium">Top Tracks</div>
    {{ getDisplayText() }}
    <a
      *ngFor="let topTrack of topTracks; let i = index"
      [routerLink]="['/song', topTrack.track.id]"
      class="flex gap-2 mt-4 relative hover:bg-gray-100 p-2 cursor-pointer"
    >
      <img
        class="w-[50px] h-[50px] object-cover"
        [src]="
          topTrack.track.coverImageName
            ? coverUrl + '/' + topTrack.track.coverImageName
            : '/assets/images/music-placeholder.png'
        "
        alt=""
      />
      <div>
        <div class="font-semibold">{{ topTrack.track.title }}</div>
        <div class="flex gap-2">
          <span class="inline-flex items-center">
            <mat-icon>play_arrow</mat-icon>
            {{ topTrack.playCount + " " + "Plays" }}
          </span>
        </div>
      </div>
    </a>
  </div>
  <div class="bg-white shadow-sm p-4">
    <div class="text-lg font-medium">{{ "Top " + selectedType }}</div>
    {{ getDisplayText() }}

    <ng-container *ngIf="userProfiles.length > 0 && topUser.length > 0">
      <a
        *ngFor="let profile of userProfiles; let i = index"
        [routerLink]="['/profile', profile.userId]"
        class="flex gap-2 mt-4 relative hover:bg-gray-100 p-2 cursor-pointer"
      >
        <img
          class="w-[50px] h-[50px] rounded-full"
          [src]="
            profile.avatar
              ? avatarUrl + '/' + profile.avatar
              : '/assets/images/user-placeholder.jpg'
          "
          alt=""
        />
        <div>
          <div class="font-semibold">{{ profile.displayName }}</div>
          <div class="flex gap-2">
            <span class="inline-flex items-center">
              <mat-icon>play_arrow</mat-icon>
              {{ topUser[i].count + " " + selectedType }}
            </span>
            <span class="inline-flex items-center">
              <mat-icon>person</mat-icon>
              {{ profile.followerCount + " followers" }}
            </span>
          </div>
        </div>
      </a>
    </ng-container>
  </div>
</div>
