<div class="max-w-[1140px] mx-auto">
  <app-dynamic-form
    [disabled]="isSubmitting"
    (submit)="onSubmitMetadata($event)"
    (image)="onEditImage($event)"
    [formFields]="[{
      name: 'image',
      label: 'Upload Image',
      type: 'image',
      options: {
        widthImage: 400,
        heighImage: 400,
        imageOrientation: 'horizontal'
      },
    },
    {
      columnSpan: 2,
      name: 'albumTitle',
      label: 'Album Title',
      type: 'text',
      validators: [Validators.required],
    },
    {
      columnSpan: 2,
      name: 'albumLink',
      label: 'Album Link',
      type: 'url',
    },
    {
      columnSpan: 2,
      name: 'mainArtists',
      label: 'Main Artists',
      type: 'text',
      validators: [Validators.required],
    },
    {
      columnSpan: 1,
      name: 'genreId',
      label: 'Genre',
      type: 'select',
      placeholder: 'Select a genre',
      dataSelect: genres,
    },
    {
      columnSpan: 1,
      name: 'albumType',
      label: 'Album Type',
      type: 'select',
      placeholder: 'Select a album type',
      dataSelect: albumTypes,
      validators: [Validators.required],
    },
    {
      columnSpan: 2,
      name: 'tagsId',
      label: 'Tags',
      type: 'multi-select',
      placeholder: 'Select tags',

      dataSelect: tags,
    },
    {
      columnSpan: 2,
      name: 'description',
      label: 'Description',
      type: 'textarea',
    },
    {
      columnSpan: 2,
      name: 'privacy',
      label: 'Album Privacy',
      type: 'radio',
      dataSelect: [{ id: 'public', name: 'Public' }, { id: 'private', name: 'Private' }],
      options: {
        defaultValue: 'public'
      },
      validators: [Validators.required],
    }]"
  ></app-dynamic-form>
  <div
    class="mt-12"
    *ngIf="metaData && showTrackSection"
    #uploadedTracksSection
  >
    <div class="flex flex-col gap-4">
      <div class="text-lg font-semibold mb-4">Uploaded Tracks</div>
      <div
        cdkDropList
        (cdkDropListDropped)="drop($event)"
        [cdkDropListData]="trackCreations"
        class="flex flex-col gap-2"
      >
        <div
          cdkDrag
          *ngFor="
            let trackCreation of trackCreations;
            index as i;
            trackBy: trackByTempId
          "
          class="flex items-center gap-4"
        >
          <span cdkDragHandle class="cursor-pointer font-semibold">⠿</span>
          <span
            (click)="playAudio(i)"
            class="w-[40px] h-[40px] p-4 flex items-center justify-center bg-transparent border-2 border-[#2e7d32] cursor-pointer hover:bg-[#ececec] rounded-full"
            ><i
              class="fa-solid"
              [ngClass]="{
                'fa-play': !infoTrackList[i].isPlay,
                'fa-pause': infoTrackList[i].isPlay
              }"
            ></i
          ></span>

          <span class="font-semibold">{{ i + 1 }}</span>
          <input
            class="py-2 px-4 w-[600px] max-w-[60%] rounded-sm border-1 border-gray-300 outline-transparent focus:border-black"
            type="text"
            name=""
            id=""
            [(ngModel)]="trackCreation.title"
            [ngClass]="{
              'border-red-300': trackCreation.title.length <= 0,
              'focus:border-red-300': trackCreation.title.length <= 0
            }"
          />
          <span class="text-[12px] text-[#666666] grow break-words">{{
            infoTrackList[i].fileName
          }}</span>
          <div class="flex gap-9 ml-auto items-center">
            <span>{{ formatDuration(infoTrackList[i].duration) }}</span>
            <span
              (click)="onEditTrack(i)"
              class="flex items-center justify-center rounded-full w-[40px] h-[40px] hover:bg-gray-100 cursor-pointer"
              ><i class="text-lg fa-solid fa-pencil"></i>
            </span>
            <span
              (click)="onDeleteTrack(i)"
              class="flex items-center justify-center rounded-full w-[40px] h-[40px] hover:bg-gray-100 cursor-pointer"
              ><i class="text-lg fa-solid fa-trash"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
    <input
      (change)="onSelectedNewTracks($event)"
      id="newTrackFile"
      type="file"
      hidden
      multiple
    />
    <label
      for="newTrackFile"
      class="mt-8 inline-flex gap-2 items-center justify-center py-3 px-4 bg-[#f5f5f5] hover:bg-[#e6e6e6] cursor-pointer rounded-full"
      ><i class="fa-solid fa-plus"></i
      ><span class="text-[#121212] font-semibold">Add tracks</span></label
    >
    <button
      [disabled]="isSubmitting"
      type="button"
      (click)="onSubmit()"
      class="ml-auto w-[150px] bg-black h-[50px] my-3 flex items-center justify-center rounded-xl cursor-pointer relative overflow-hidden transition-all duration-500 ease-in-out shadow-md hover:scale-105 hover:shadow-lg before:absolute before:top-0 before:-left-full before:w-full before:h-full before:bg-gradient-to-r before:from-[#009b49] before:to-[rgb(105,184,141)] before:transition-all before:duration-500 before:ease-in-out before:z-[-1] before:rounded-xl hover:before:left-0 text-[#fff]"
    >
      <span *ngIf="!isSubmitting">Submit</span>
      <div *ngIf="isSubmitting" class="flex items-center gap-2">
        <i class="fa-solid fa-spinner fa-spin"></i>
        <span>Uploading...</span>
      </div>
    </button>
  </div>
</div>
<audio #audio src="" hidden></audio>
<app-edit-track
  *ngIf="selectedIndexToEdit >= 0"
  (close)="selectedIndexToEdit = -1"
  (submit)="onSubmitEdit($event)"
  [trackCreation]="trackCreations[selectedIndexToEdit]"
  [genreList]="genres"
  [tagList]="tags"
  [disabled]="isSubmitting"
></app-edit-track>
