<div class="flex items-start px-4 py-2">
  <div>
    <a class="block w-[160px] h-[160px]">
      <img
        class="rounded-[10px]"
        [src]="
          track.coverImageName
            ? coverUrl + '/' + track.coverImageName
            : '/assets/images/music-placeholder.png'
        "
        alt=""
      />
    </a>
  </div>
  <div class="flex flex-col w-full px-4 gap-2">
    <div class="header flex items-center">
      <div class="header flex gap-4 items-center w-full">
        <div class="play-button" (click)="togglePlaying()">
          <svg
            *ngIf="!isPlaying"
            class="m-3"
            width="24px"
            height="24px"
            viewBox="0 0 18 29"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"
          >
            <g
              id="Page-1"
              stroke="none"
              stroke-width="1"
              fill="none"
              fill-rule="evenodd"
              sketch:type="MSPage"
            >
              <g
                id="buttons"
                sketch:type="MSArtboardGroup"
                transform="translate(-1665.000000, -818.000000)"
                fill="#FFFFFF"
              >
                <path
                  d="M1665,847 L1669.15385,832.5 L1665,818 L1683,832.5 L1665,847 Z"
                  id="Play-60"
                  sketch:type="MSShapeGroup"
                ></path>
              </g>
            </g>
          </svg>
          <svg
            *ngIf="isPlaying"
            width="48px"
            height="48px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M9 9H11V15H9V9Z" fill="white" />
            <path d="M15 15H13V9H15V15Z" fill="white" />
          </svg>
        </div>
        <a class="grow flex flex-col" [routerLink]="['/song', track.id]">
          <div class="flex justify-between items-center">
            <span *ngIf="profile" class="text-gray-500">{{
              profile.displayName
            }}</span>
            <span class="text-gray-500">
              {{ track.createdAt | timeAgo }}
            </span>
          </div>
          <div class="flex justify-between items-center">
            <span class="font-bold" href="">{{ track.title }}</span>
            <div
              *ngIf="track.tags && track.tags.length > 0"
              class="tag px-3 py-1 rounded-[10px] bg-[#f3f3f3]"
            >
              @for (item of track.tags; track $index) {
              <span>{{ item.name }} </span>
              }
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="wave-form h-[60px]">
      <app-wavesurfer
        [isPlay]="isPlaying"
        (playStateChanged)="changeButtonIcon($event)"
        #waveform
        [height]="50"
        [track]="track"
      ></app-wavesurfer>
    </div>
    <ng-content select="[list]"></ng-content>
    <div *ngIf="!useForPlaylistAndAlbum" class="comment">
      <div
        *ngIf="isCommentVisible && loggedUserId"
        class="opacity-0 transition-opacity duration-500 ease-in-out opacity-100"
      >
        <img src="" alt="" />
        <input
          class="w-full p-2 bg-[#f3f3f3] outline-none"
          placeholder="Write a comment"
          type="text"
          name=""
          id=""
          [(ngModel)]="newComment"
          (keydown.enter)="submitComment()"
        />
      </div>
      <div class="action flex justify-between">
        <app-track-action [track]="track"></app-track-action>
        <div
          *ngIf="!useForPlaylistAndAlbum"
          class="flex gap-4 text-gray-500 text-[13px]"
        >
          <div class="flex gap-2 items-center px-3 py-2 rounded-[4px]">
            <i class="fa-solid fa-play"></i>
            <span>{{ track.countPlay }}</span>
          </div>
          <div class="flex gap-2 items-center px-3 py-2 rounded-[4px]">
            <i class="fa-solid fa-comment"></i>
            <span>{{ commentCount }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
