<div *ngIf="profile" class="flex justify-between gap-6 items-center">
  <!-- Avatar -->
  <div class="w-[40px] h-[40px] rounded-full">
    <img
      class="w-full h-full object-cover rounded-full"
      [src]="avatarUrl ? avatarUrl : 'assets/images/user-placeholder.jpg'"
      alt=""
    />
  </div>

  <!-- Input -->
  <input
    [(ngModel)]="commentText"
    class="grow h-[40px] rounded-[24px] border-none bg-[#f3f3f3] outline-none p-4"
    type="text"
    placeholder="Write a comment..."
    (keyup.enter)="sendComment()"
  />

  <!-- Gửi -->
  <button class="cursor-pointer hover:opacity-80" (click)="sendComment()">
    <i class="fa-brands fa-telegram text-[40px]"></i>
  </button>
</div>
