<div class="flex items-center justify-between border-b border-gray-200 pb-2">
  <!-- Tabs -->
  <div class="flex space-x-6">
    <a
      routerLink="popular-tracks"
      routerLinkActive="text-orange-500 border-b-2 border-orange-500 font-semibold"
      class="tab-link"
      >Popular tracks</a
    >
    <a
      routerLink="tracks"
      routerLinkActive="text-orange-500 border-b-2 border-orange-500 font-semibold"
      class="tab-link"
      >Tracks</a
    >
    <a
      routerLink="albums"
      routerLinkActive="text-orange-500 border-b-2 border-orange-500 font-semibold"
      class="tab-link"
      >Albums</a
    >
    <a
      routerLink="playlists"
      routerLinkActive="text-orange-500 border-b-2 border-orange-500 font-semibold"
      class="tab-link"
      >Playlists</a
    >
  </div>

  <!-- Right buttons -->
  <div *ngIf="loginUserId">
    <div
      *ngIf="userId === loginUserId; else followingButton"
      class="flex items-center space-x-2"
    >
      <a
        [routerLink]="['/you', 'insights']"
        class="cursor-pointer bg-orange-500 text-white px-3 py-1 rounded flex items-center text-sm"
      >
        <i class="fas fa-chart-bar mr-2"></i> Your Insights
      </a>
      <button
        (click)="onOpenEditProfile()"
        class="cursor-pointer border px-3 py-1 rounded flex items-center text-sm"
      >
        <i class="fas fa-edit mr-2"></i> Edit
      </button>
    </div>
    <ng-template #followingButton>
      <div class="flex items-center space-x-2">
        @if (isFollowing) {
        <button
          (click)="onUnFollow()"
          class="cursor-pointer border border-orange-500 text-orange-500 px-3 py-1 rounded flex items-center text-sm"
        >
          <i class="fas fa-chart-bar mr-2"></i> Following
        </button>
        } @else {
        <button
          (click)="onFollow()"
          class="cursor-pointer bg-orange-500 text-white px-3 py-1 rounded flex items-center text-sm"
        >
          <i class="fas fa-chart-bar mr-2"></i> Follow
        </button>
        }
      </div>
    </ng-template>
  </div>
</div>
