<div class="bg-[#a3a3b6] px-8 py-4 flex gap-6">
  <div id="top" class="ml-4 grow-7 flex flex-col justify-between">
    <div class="flex items-center justify-between">
      <div class="flex gap-2 items-center">
        <div class="play-button" (click)="onPlay()">
          <!-- Nếu không mute, hiển thị icon Pause -->
          <div *ngIf="!muted; else playIcon">
            <!-- Pause Icon -->
            <svg
              width="36px"
              height="36px"
              viewBox="0 0 24 24"
              fill="#FFFFFF"
              xmlns="http://www.w3.org/2000/svg"
              class="m-3"
            >
              <rect x="6" y="4" width="4" height="16" />
              <rect x="14" y="4" width="4" height="16" />
            </svg>
          </div>

          <!-- Ngược lại: hiển thị icon Play -->
          <ng-template #playIcon>
            <svg
              width="36px"
              height="36px"
              viewBox="0 0 18 29"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"
              class="m-3"
            >
              <g
                id="Page-1"
                stroke="none"
                stroke-width="1"
                fill="none"
                fill-rule="evenodd"
                sketch:type="MSPage"
              >
                <g
                  id="buttons"
                  sketch:type="MSArtboardGroup"
                  transform="translate(-1665.000000, -818.000000)"
                  fill="#FFFFFF"
                >
                  <path
                    d="M1665,847 L1669.15385,832.5 L1665,818 L1683,832.5 L1665,847 Z"
                    id="Play-60"
                    sketch:type="MSShapeGroup"
                  ></path>
                </g>
              </g>
            </svg>
          </ng-template>
        </div>
        <div class="text-white flex flex-col gap-2">
          <span class="bg-[#212227] p-2">{{ track.title }}</span>
          <span
            class="text-[#ccc] hover:text-white bg-[#212227] p-2"
            *ngIf="profile"
            >{{ profile.displayName }}</span
          >
        </div>
        <!-- <svg *ngIf="isPlaying"  width="48px" height="48px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M9 9H11V15H9V9Z" fill="white" />
          <path d="M15 15H13V9H15V15Z" fill="white" />
      </svg> -->
      </div>
      <div class="text-white">
        <span>{{ track.createdAt | timeAgo }}</span>
      </div>
    </div>
    <app-wavesurfer
      #waveform
      [track]="track"
      [isPlay]="!muted"
      (playStateChanged)="changePlayState($event)"
    ></app-wavesurfer>
  </div>
  <div class="w-[340px] h-[340px]">
    <img
      class="w-full h-full object-cover"
      [src]="
        track.coverImageName
          ? coverBaseUrl + '/' + track.coverImageName
          : '/assets/images/music-placeholder.png'
      "
      alt=""
    />
  </div>
</div>
