<div>
  <app-dynamic-form
    [disabled]="isLoading"
    (image)="onEditImage($event)"
    (submit)="onSubmitMetadata($event)"
    [formFields]="[{
    name: 'image',
    label: 'Upload Image',
    type: 'image',
    options: {
      widthImage: 400,
      heighImage: 400,
      imageOrientation: 'horizontal'
    },
  },
  {
    columnSpan: 2,
    name: 'title',
    label: 'Track Title',
    type: 'text',
    placeholder: 'Enter track title',
    validators: [Validators.required],
  },
  {
    columnSpan: 2,
    name: 'genre',
    label: 'Genre',
    type: 'select',
    placeholder: 'Select a genre',
    dataSelect: genres,
  },
  {
    columnSpan: 2,
    name: 'tags',
    label: 'Tags',
    type: 'multi-select',
    placeholder: 'Select tags',
    dataSelect: tags,
  },
  {
    columnSpan: 2,
    name: 'description',
    label: 'Description',
    type: 'textarea',
    placeholder: 'Enter description',
  },
  {
    columnSpan: 2,
    name: 'privacy',
    label: 'Track Privacy',
    type: 'radio',
    dataSelect: [{id: 'public', name: 'Public'}, {id: 'private', name: 'Private'}],
    options: {
      defaultValue: 'public'
    },
    validators: [Validators.required],
  }]"
  ></app-dynamic-form>
</div>
