<app-card
  [goTo]="goToTrack"
  [playTrack]="playTrack"
  [pauseTrack]="pauseTrack"
  [addToNextUp]="addToNextPlayList"
  [toggleLike]="toggleLikeBound"
  [toggleFollow]="toggleFollowBound"
  [isFollowed]="isFollowed"
  [isLiked]="isLiked"
  [trackIdsToAddPlayList]="[track?.id || '']"
  [idToEmitDelete]="track?.id || ''"
  [onCopyLink]="copyLinkBound"
  [isPlay]="isPlaying"
>
  @if (track) {
  <img
    [src]="
      track.coverImageName
        ? coverUrl + '/' + track.coverImageName
        : '/assets/images/music-placeholder.png'
    "
    alt="Track cover"
    [title]="track.title"
  />
  } @else {
  <div class="w-[180px] h-[180px] bg-gray-200"></div>
  }
  <div footer class="pt-2 flex flex-col">
    <a
      class="cursor-pointer opacity-80 text-sm mt-1 truncate"
      [routerLink]="track ? ['/song', track.id] : []"
      >{{ track?.title || "" }}</a
    >
    <a
      class="cursor-pointer opacity-80 text-xs text-gray-500"
      [routerLink]="track ? ['/profile', track.userId] : []"
      >{{ track?.displayName || "" }}</a
    >
  </div>
</app-card>
