<!-- <div class="border-b border-gray-200 center ">
  <nav class="flex center">
    <div class="flex space-x-6">
      <button
        *ngFor="let tab of tabs; let i = index"
        class="relative py-3 px-2 text-sm font-normal transition-colors "
        [class.text-orange-500]="tab.active"
        [class.text-gray-700]="!tab.active"
        [class.hover:text-gray-900]="!tab.active"
        (click)="setActiveTab(i)">
        {{ tab.name }}
        <span
          *ngIf="tab.active"
          class="absolute left-0 bottom-0 w-full h-1 bg-orange-500">
        </span>
      </button>
    </div>
  </nav>
</div> -->
<div class="flex">
  <nav class="border-b border-gray-200 flex space-x-6 text-bold">
    <a
      [routerLink]="[tab.route]"
      routerLinkActive="text-orange-500 border-b-2 border-orange-500"
      *ngFor="let tab of tabs"
      class="py-2 px-1 text-[25px] text-bold cursor-pointer hover:border-b-2 hover:border-black"
    >
      {{ tab.name }}
    </a>
  </nav>
</div>
